/* Enter and leave animations can use different */
/* durations and timing functions.              */
.mama-fade-enter-active {
    transition: all 5s ease;
  }
  .mama-fade-leave-active {
    transition: all 8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .mama-fade-enter, .mama-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
